.main-content {
  padding: 70px 0 0 0;
}
.side-content {
  padding-top: 70px;
}
.chat-main-side-container {
  font-size: 1.4rem;
  display: grid;
  /*ヘッダー分の空白*/
  grid-template-columns: 300px 1fr 300px;
  min-height: 100vh;
}

/**********************************/
/*     　 チャットユーザー         */
/*********************************/

.ChatUser-disp {
  overflow-y: scroll;
  padding-top: 58px;
  background-color: #fff;
  border-right: 1px solid gray;
}
.ChatUser-list {
  padding: 0;
}
.ChatUser {
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid gray;
}
.ChatUser a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  color: #000;
  margin: -10px 0;
  padding: 10px 0;
}
.ChatUser-detail {
  display: flex;
  align-items: center;
}
.UserIcon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border: 1px solid #000;
  border-radius: 50%;
}
.UserIcon img {
  object-fit: cover;
}

.UserInfo-list {
  padding: 0;
  list-style: none;
  display: flex;
}
.UserName {
  padding: 0;
  margin-right: 10px;
}
.UserId {
  color: gray;
}
.UserId::before {
  content: "@";
}
.ChatHistory {
  color: gray;
}

/**********************************/
/*            チャット            */
/*********************************/

.message-content {
  width: 100%;
  height: 80vh;
  background: white;
  font-size: 1.6rem;
  overflow-y: scroll;
}

/*フレームとフォント*/
.kaiwa.imessage {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
  color: #333;
  line-height: 1.4;
  list-style: none;
  margin-bottom: 30px;
}
.message-disp {
  display: flex;
  align-items: center;
}
.message-disp.right {
  flex-direction: row-reverse;
}
/*フキダシ共通*/
.kaiwa.imessage .fukidasi {
  position: relative;
  display: inline-block;
  max-width: 192px;
  margin: 1px 10px 6px;
  padding: 9px 14px;
  border-radius: 19px;
  overflow-wrap: break-word;
  clear: both;
  box-sizing: content-box; /*はてな用*/
}
/*しっぽをつけないとき*/
.kaiwa.imessage .fukidasiright.notail {
  margin-bottom: 0;
}
/*フキダシ左*/
.kaiwa.imessage .fukidasi.left {
  background: #e9e9ed;
}
/*フキダシ右*/
.kaiwa.imessage .fukidasi.right {
  background: #2793fa;
  color: white;
}
/*しっぽ共通*/
.kaiwa.imessage .fukidasi::after {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  bottom: 0;
}
/*しっぽ左*/
.kaiwa.imessage .fukidasi.left::after {
  left: -4px;
  bottom: -1px;
  transform: rotate(35deg);
  border-radius: 0px 0 20px 0px/ 0px 0 13px 0;
  box-shadow: -14px 1px 0 -3px #e9e9ed inset;
}
/*しっぽ右*/
.kaiwa.imessage .fukidasi.right::after {
  right: -3px;
  bottom: -1px;
  transform: rotate(-35deg);
  border-radius: 0px 0 0 17px/ 0px 0 0 13px;
  box-shadow: 14px 2px 0 -3px #2793fa inset;
}

.my-message {
  position: absolute;
  background-color: #ffc0c0;
  bottom: 0;
  left: 300px;
  right: 300px;
  padding: 4px 30px;
  z-index: 99;
  display: flex;
  align-items: center;
  border-top: 1px gray solid;
  justify-content: space-between;
}
.my-message a {
  text-decoration: none;
  color: #000;
}
.my-message a:hover {
  opacity: 0.7;
}
.message-send {
  width: 300px;
  font-size: 1.6rem;
  border-radius: 30px;
  line-height: 2;
  padding: 0 10px;
  margin-right: 5px;
  border: #333 1px solid;
}
.message-send:focus {
  outline: none;
  border: #333 1px solid;
}

/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}
/*広告を３つにする*/
.chat-ad .ad-none {
  display: none;
}
.fa-paper-plane {
  color: #2793fa;
}
