body{
    background-color: #fff;
}

main{
    background-color: #fff;
}

.copy-text {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 60px;
}

  .btn-center{
    text-align: center;
    margin: 1em 0px;
    font-size: 2.0rem;
}

.btn{
    color: white;
    font-weight: bold;
    letter-spacing: 0.5pt;
    text-decoration: none;
    background-color: #414bb2;
    border: 1px solid #4169e1;
    border-radius: 10px;
    cursor: pointer;
}

