.ttl-text {
  font-size: 2.4rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.news-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.news-inner {
  width: 100%;
  padding: 0 10px;
}
.news-list {
  list-style: none;
}
.news-item {
  position: relative;
  border-top: 1px solid #000;
}
.news-item:last-of-type {
  border-bottom: 1px solid #000;
  margin-bottom: 30px;
}
.news-item a {
  display: block;
  padding: 30px 10px;
  text-decoration: none;
  color: #000;
}
.date {
  font-size: 1.4rem;
  color: #80868b;
  position: absolute;
  bottom: 0;
  right: 10px;
}

a.btn_02 {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #27acd9;
	background: #27acd9;
	color: #fff;
	transition: 0.5s;
}
a.btn_02:hover {
	color: #27acd9;
	background: #fff;
}