
.flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

.a {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.b {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.c {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

/* ユーザー画像 */
.UserIcon {
  width: 250px;
  height: 250px;
  margin-left: 50px;
  margin-right: 10px;
  border: 1px solid #000;
  border-radius: 50%;
}
.UserIcon img {
  object-fit: cover;
}
.img2 {
  width: 250px;
  height: 46px;
}

/* ユーザー画像の変更ボタン */
.img_change_btn {
  width: 150px;
  height: 35px;
  margin: 0 10px;
  padding: 4px 5px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.5pt;
  text-decoration: none;
  background-color: #414bb2;
  border: 1px solid #4169e1;
  border-radius: 10px;
  cursor: pointer;
}

/* ユーザー情報の変更ボタン */
.info_change_btn {
  width: 150px;
  height: 35px;
  margin: 0 10px;
  padding: 4px 5px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.5pt;
  text-decoration: none;
  background-color: #414bb2;
  border: 1px solid #4169e1;
  border-radius: 10px;
  cursor: pointer;
}

/*
.box_white {
  margin       : auto;
  width        : 250px;
  height       : 250px;
  background   : #white;
}
*/

.relative {
  position: relative;
  width: 300px;
}

.absolute {
  position: absolute;
  left: 90px;
  bottom: 5px;
}

.boxContainer {
  overflow: hidden;
}

.btn {
  width: 150px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  padding: 6px 25px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.5pt;
  text-decoration: none;
  background-color: #414bb2;
  border: 1px solid #4169e1;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
}
.margin-left {
  margin-left: 100px;
  margin-top: -10px;
}

.evaluation_margin-left {
  margin-left: 150px;
  font-size: 20px;
}

.display {
  font-size: 20px;
}

.display_line {
  font-size: 20px;
  text-align: left;
  border-bottom: solid 3px #87cefa;
}

.textarea {
  width: 100%;
  font-size: 15px;
  resize: none;
}

.box1 {
  padding: 10px 20px;
  margin: 0em 0;
  font-weight: bold;
  border: solid 2px #000000;
}
.box2 {
  padding: 10px 20px;
  margin: 0em 0;
  font-weight: bold;
  border: solid 2px #000000;
  width: 125%;
  height: 50%;
}
.box1 p {
  margin: 0;
  padding: 0;
}
.div-equal-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 10px;
}
.div-equal-box div {
  text-align: center;
  font-size: 12px;
  border-radius: 2px;
}

.posi {
  vertical-align: text-bottom;
}
.boxContainer .box {
  margin-top: 40px;
}
.img3 {
  width: 150px;
  height: 150px;
}

.border {
  border: 1px solid black;
}
