/*ヘッダー、フッター、ハンバーガー、広告*/

/**********************************/
/*              base             */
/*********************************/

.main-side-content {
  display: grid;
  padding-top: 70px;
  /*ヘッダー分の空白*/
  grid-template-columns: 1fr 300px;
}

.main-content {
  padding: 20px 10px;
  background-color: #fff;
}

/**********************************/
/*            ヘッダー            */
/*********************************/

.header {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #ffc0c0;
  border-bottom: 1px solid #b7b7b7;
}

.header-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header-innder {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 50px;
  height: 50px;
}

.header-logo a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.header-logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: gray;
}

.header-select {
  padding: 8px;
  margin-right: 20px;
}

.header-select:focus {
  box-shadow: 0 0 5px 0 #ef5923;
  border: 2px solid #fff !important;
  transition: 0.3s;
  outline: 0;
}

.index-text {
  padding: 8px;
  width: 300px;
}
.index-text:focus {
  box-shadow: 0 0 5px 0 #ef5923;
  transition: 0.3s;
  border: 2px solid #fff !important;
  outline: 0;
}
.index-text:focus {
  box-shadow: 0 0 5px 0 #ef5923;
  transition: 0.3s;
  border: 2px solid #fff !important;
  outline: 0;
}

.header-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

.header-item {
  margin-right: 20px;
}

.news-btn {
  text-decoration: none;
  color: #000;
  padding: 3px 6px;
  background-color: #fff;
  border: 1px solid #000;
}

.icon-wrapper a {
  text-decoration: none;
  display: block;
  color: gray;
}

.icon-wrapper i {
  display: block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.burger-btn {
  display: block;
}

.burger-btn .bar {
  display: block;
  height: 4px;
  width: 30px;
  background-color: #000;
  transition: 0.3s;
  border-radius: 5px;
}

.bar_top,
.bar_mid {
  margin-bottom: 5px;
}

.burger-btn.cross .bar_top {
  transform: rotate(45deg) translate(6px, 6px);
  transition: 0.3s;
}

.burger-btn.cross .bar_mid {
  opacity: 0;
  transition: 0.3s;
}

.burger-btn.cross .bar_bottom {
  transform: rotate(-45deg) translate(6px, -6px);
  transition: 0.3s;
}

.header-search-icon {
  position: absolute;
  right: 2%;
}

/**********************************/
/*            広告                */
/*********************************/

.side-content {
  min-height: 100%;
  padding: 0 10px;
  border-left: 1px solid #000;
  background-color: #fff;
}

.ad-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ad-item {
  margin-top: 30px;
}

.ad-item img {
  width: 250px;
  height: 150px;
  margin: 0 auto;
  border: 1px solid #000;
}

.ad-item:last-of-type {
  margin-bottom: 30px;
}

/**********************************/
/*         ハンバーガー            */
/*********************************/
.humburger-nav {
  border-left: 1px solid #000;
  background-color: #f2f2f2;
  position: fixed;
  transition: all 0.3s;
  text-align: center;
  right: -120%;
  width: 300px;
  height: 100vh;
}

.humburger-nav.active {
  right: 0;
}
.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-item {
  margin-top: 20px;
}
.nav-item a {
  text-decoration: none;
  color: #000;
}
.nav-item a:hover {
  opacity: 0.7;
}

/**********************************/
/*           フッター             */
/*********************************/
.footer {
  color: #f2f2f2;
  border-top: 1px solid #000;
  background-color: gray;
}
.footer-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.footer-inner {
  text-align: center;
}
.copy-text {
  padding: 20px 0;
}
/**********************************/
/*         メインコンテンツ         */
/*********************************/


/**********************************/
/*           メイン　             */
/*********************************/

.box {
  display: flex;
}
.fashionable-box1 {
  display: inline-block;
  margin: 5em 3em 0em 8em;
  padding: 2em;
  background-color: #ffffff;
  box-shadow: 0 0 0 10px #fff59d, 0 0 0 25px #fdd835;
  border-radius: 0px;
}

.fashionable-box1 p {
  margin: 0;
  padding: 0px;
}

.fashionable-box2 {
  display: inline-block;
  margin: 5em 0em 0em 10em;
  padding: 2em;
  background-color: #ffffff;
  box-shadow: 0 0 0 10px #fff59d, 0 0 0 25px #fdd835;
  border-radius: 0px;
}

.fashionable-box2 p {
  margin: 0;
  padding: 0px;
}
.sub-ttl {
  margin-top: 40px;
}

.news h2 {
	margin: 0 0 20px 0;
	font-size: 20px;
}
.news-contents {
	margin: 0;
	padding: 0;
	list-style: none;
}
.news-contents li {
	overflow: hidden;
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid #dadada;
}
.news-contents li img {
	float: left;
	margin-right: 10px;
}
.news-contents li p {
	margin: 0;
}

/*進行バー*/
.Group {
  margin-bottom: 24px;
  position: relative;
  width: 100%;
  max-width: 320px;
  display: flex;
  justify-content: space-between;
  z-index: 0;
  }
  .Group-Bar {
  position: absolute;
  top: 12px;
  left: 2.5%;
  width: 90%;
  height: 2px;
  background-color: #eaeaea;/*バーの色*/
  z-index: -1;
  }
  @media screen and (min-width: 768px) {
  .Group-Bar {
  top: 17px;
  height: 5px;
  }
  }
  .Shapeborder.isActive {
  border: 1px solid #e2264d;
  }
  .Circle {
  border-radius: 50%;
  }
  .Group-Item {
  color: #b7b7b7;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .Group-Item.isActive {
  color: #e2264d;
  }
  .Group-Item-CircleOuter {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  @media screen and (min-width: 768px) {
  .Group-Item-CircleOuter {
  width: 39px;
  height: 39px;
  }
  }
  .Group-Item-CircleOuter.isActive {
  background: #fff;
  }
  .Group-Item-CircleInner {
  width: 16px;
  height: 16px;
  background-color: #b7b7b7;
  display: flex;
  align-items: center;
  }
  @media screen and (min-width: 768px) {
  .Group-Item-CircleInner {
  width: 25px;
  height: 25px;
  }
  }
  .Group-Item-CircleInner.isActive {
  background: #e2264d;
  }
  .Group-Item-CircleInner:last-of-type::after {
  content: none;
  }
  .Group-Item-Text {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  }
